fastapi
uvicorn[standard]
langchain>=0.3.0
langchain-google-genai
langchain-community
langchain-text-splitters
langgraph
chromadb
streamlit
streamlit-agraph
plotly
requests
python-dotenv
google-generativeai
joblib
pandas
numpy
scikit-learn
